:javascript
  $(function(){
    GameEvents.receive('game_state_change', repaint_current_game_screen);
    GameEvents.bind_click_send_event('.plus', 'increment_score')
    GameEvents.bind_click_send_event('.minus', 'decrement_score')
  });
#current_game.grid
  / {{Loaded via ajax and mustache!}}
  / Check current_game.mst for template.
