:javascript
  $(function(){
    GameEvents.receive('game_state_change', redirect_to_current_game_when_matched)
    GameEvents.send('add_player');
  });

.grid#matchmaking
  .unit.half.stack
    %h2
      Matchmaking
    %p.notice_me 
      Waiting for opponent... 
  .unit.half.body.stack
    %p Check this out while you wait. :D
    %img{src:"/brucelee.gif"}