
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


//=========Base App Styles go here===============

html{
  font-family:arial, 'sans-serif';
}

// --- repeatable elements ----
// Buttons... custom input fields... things like that.

input[type="text"]{
  font-size:1.9em;
  width: 100%;
}

.camera{
  &.taken{
  }
  img{
    padding-top:7px;
    max-width: 35px;
  }
}

h1{
  font-family: 'lobster';
  font-size: 2em;
}

h2{
  font-family: montserratregular;
  margin: 20px 20px 0;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  border-bottom: 1px dotted;
}

a{
  color:#fff;
  text-decoration:none;
}

label input[type="file"] {
    position: fixed;
    top: -1000px;
    display:none;
}


.button {
  float:left;
  margin-right: 11px;
  margin-bottom: 10px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:75px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.button:active {
  position:relative;
  top:1px;
}





// LAYOUT STYLES
// margins, floats, things you would find in a wireframe


#sessions_new.grid{
  #search_area.unit.half{
    #results{
      background-color:#fff;
      width:100%;
      .player{
        padding:3px;
        cursor:pointer;
        &:hover{
          background-color:#DBDEFF;
        }
        .thumb{
          float:left;
          height:60px;
          overflow:hidden;
          margin-right:10px;
          img{
            height:100%;
          }
        }
        p{
          padding:6px 0;
          font-family:'amatic', arial;
          font-size:3em;
        }
      }
    }
  }
}





html,body{
  background-color: aqua;
  height:100%;
}

.content.slide{
  background-color: aqua;
  height: 100%;
  padding-top:0px;
}


@media only screen and (max-width: 780px) {
  .content.slide {
    padding-top:60px;
  }
  nav li.current a:after{
    top: 18px;
    left: 0px;
  }
}





// Trunk.js nav patch //
nav a{
  font-family: 'montserratbold';
  text-transform:uppercase;
}
nav li.current a{
  color:#000;
  position:relative;

  &:after{
    position:absolute;
    content:"";
    border-radius: 50%;
    width:20px;
    height:20px;
    background:#ccc;
    opacity:0.5;
    bottom:0;
    left: 38%;
  }
}

//  FONTS
@font-face {
    font-family: 'lobster';
    src: font-url('lobster_webfont.eot');
    src: font-url('lobster_webfont.eot?#iefix') format('embedded-opentype'),
         font-url('lobster_webfont.woff2') format('woff2'),
         font-url('lobster_webfont.woff') format('woff'),
         font-url('lobster_webfont.ttf') format('truetype'),
         font-url('lobster_webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: font-url('montserrat-regular-webfont.eot');
    src: font-url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat-regular-webfont.woff2') format('woff2'),
         font-url('montserrat-regular-webfont.woff') format('woff'),
         font-url('montserrat-regular-webfont.ttf') format('truetype'),
         font-url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: font-url('montserrat-bold-webfont.eot');
    src: font-url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat-bold-webfont.woff2') format('woff2'),
         font-url('montserrat-bold-webfont.woff') format('woff'),
         font-url('montserrat-bold-webfont.ttf') format('truetype'),
         font-url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'amatic';
    src: font-url('amaticsc-regular-webfont.eot');
    src: font-url('amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('amaticsc-regular-webfont.woff2') format('woff2'),
         font-url('amaticsc-regular-webfont.woff') format('woff'),
         font-url('amaticsc-regular-webfont.ttf') format('truetype'),
         font-url('amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@mixin flash($text, $bg){
  font-family:'arial';
  color: $text;
  background-color: $bg;
  padding: 10px;
  border: 1px solid $text;
  margin-top: 3px;
  opacity:0.9;
  text-transform: capitalize;
  font-weight: bold;
  position:relative;
  &:hover{
    cursor:pointer;
  }
  &:after{
    content:"x";
    position:absolute;
    top:10px;
    right:10px;
  }
}
.flash{
  &.warning {
    @include flash(black, yellow)
  }
  &.error{
    @include flash(red, pink)
  }
}
#dev_console{
  font-family:arial;
  position: absolute;
  background-color: #000;
  color: green;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.6;
  bottom: 0;
  right: 0;
  h4{
    margin-top:-10px;
    padding-bottom:10px;    
  }
  a{
    margin-bottom: 10px;
    display: block;
    text-decoration: underline;
  }
}











/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */

/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
  padding: 10px;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }

/* Nested grids already have padding though, so let’s nuke it */
.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin: 0 auto;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.grid .whole,          .grid .w-1-1 { width: 100%; }
.grid .half,           .grid .w-1-2 { width: 50%; }
.grid .one-third,      .grid .w-1-3 { width: 33.3332%; }
.grid .two-thirds,     .grid .w-2-3 { width: 66.6665%; }
.grid .one-quarter,    .grid .w-1-4 { width: 25%; }
.grid .three-quarters, .grid .w-3-4 { width: 75%; }
.grid .one-fifth,      .grid .w-1-5 { width: 20%; }
.grid .two-fifths,     .grid .w-2-5 { width: 40%; }
.grid .three-fifths,   .grid .w-3-5 { width: 60%; }
.grid .four-fifths,    .grid .w-4-5 { width: 80%; }
.grid .golden-small,   .grid .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
.grid .golden-large,   .grid .w-g-l { width: 61.7283%; } /* Golden section: larger piece */

/* Clearfix after every .grid */
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* Responsive Stuff */
@media screen and (max-width: 568px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .grid .unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .grid {
    max-width: 1180px;
    margin: 0 auto;
  }
}
