
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


//=========Base App Styles go here===============
html,body{
  background-color: aqua;
  height:100%;
}

h1{
  font-family: 'lobster';
  color: #000;
  padding: 0;
  font-size: 2em;
  text-align: center;
}
h2{
  font-family: 'montserratbold';
  color: #000;
  padding: 0px 10px 8px;
  border-bottom: 2px dashed deeppink;
  font-size: 1.5em;
}

input[type="text"] {
  height:40px;
  font-size:2em;
}
a.btn{
  background-color: #333333;
  color: #fff;
  font-family: 'montserratregular';
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  text-align: center;

  &.primary{
    background-color:#000;
  }
}

//  FONTS
@font-face {
    font-family: 'lobster';
    src: font-url('lobster_webfont.eot');
    src: font-url('lobster_webfont.eot?#iefix') format('embedded-opentype'),
         font-url('lobster_webfont.woff2') format('woff2'),
         font-url('lobster_webfont.woff') format('woff'),
         font-url('lobster_webfont.ttf') format('truetype'),
         font-url('lobster_webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: font-url('montserrat-regular-webfont.eot');
    src: font-url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat-regular-webfont.woff2') format('woff2'),
         font-url('montserrat-regular-webfont.woff') format('woff'),
         font-url('montserrat-regular-webfont.ttf') format('truetype'),
         font-url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: font-url('montserrat-bold-webfont.eot');
    src: font-url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat-bold-webfont.woff2') format('woff2'),
         font-url('montserrat-bold-webfont.woff') format('woff'),
         font-url('montserrat-bold-webfont.ttf') format('truetype'),
         font-url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'amatic';
    src: font-url('amaticsc-regular-webfont.eot');
    src: font-url('amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('amaticsc-regular-webfont.woff2') format('woff2'),
         font-url('amaticsc-regular-webfont.woff') format('woff'),
         font-url('amaticsc-regular-webfont.ttf') format('truetype'),
         font-url('amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}