html,body{
  background-color: aqua;
  height:100%;
}
h2{
  font-family: arial;
  color: #fff;
  padding: 10px;
  background-color: deeppink;
  font-size: 2em;
}

form{
  position:relative;
  margin:0 auto;
  width:98%;
  padding:10px 0;
  input{
    float: right;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 0;
    padding-left: 0;
    &#player_name{
      height:40px;
      font-size:2em;
    }
  }

  .login{
    float: left;
    font-size: 2em;
    text-decoration: none;
    background-color: #333333;
    color: #fff;
    font-family: arial;
    width: 19%;
    padding: 84.5px 0;
    text-align: center;
  }
  .signup{
    float: right;
    font-size: 2em;
    text-decoration: none;
    background-color: #333333;
    color: #fff;
    font-family: arial;
    width: 80%;
    padding: 40px 0;
    text-align: center;
  }
}

a.big_go_button{
  text-decoration:none;
  font-size:3em;
  padding:0;
  margin:0;
  float:right;
  width:49.5%;
  height:100%;
  text-align:center;
  background-color:rgba(51,51,51,1);
  color:#fff;
  &:first-child{
  float:left;
  }
}