
@mixin leftArrow(){
  &:before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid transparent;
    border-top: 0px solid transparent;
    border-left: 90px solid #000;
  }
  &:after{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0px solid transparent;
    border-top: 100px solid transparent;
    border-left: 90px solid #000;
  }
}

form{
  position:relative;
  margin:0 auto;
  width:98%;
  padding:10px 0;
  input{
    float: right;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 0;
    padding-left: 0;
    &#player_name{
    }
  }

  .login{
    float: left;
    width: 19%;
    padding: 84.5px 0;
    text-align: center;
    position:relative;
    @include leftArrow();
  }
  .signup{
    float: right;
    width: 80%;
    padding: 40px 0;
    text-align: center;
  }
}

a.big_go_button{
  text-decoration:none;
  font-size:3em;
  padding:0;
  margin:0;
  float:right;
  width:49.5%;
  height:100%;
  text-align:center;
  background-color:rgba(51,51,51,1);
  color:#fff;
  &:first-child{
  float:left;
  }
}