@mixin bounding{
  position:relative;
  margin:0 auto;
  width:98%;
  padding:10px 0;
}

@mixin leftArrow(){
  &:before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid transparent;
    border-top: 0px solid transparent;
    border-left: 90px solid #000;
  }
  &:after{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0px solid transparent;
    border-top: 100px solid transparent;
    border-left: 90px solid #000;
  }
}



.signup{
  float: left;
  width: 19%;
  padding: 84.5px 0;
  position:relative;
  @include leftArrow()
}

.login{
  float: right;
  width: 80%;
  padding: 40px 0;
  text-align: center;
}

#user_search{
  @include bounding();
}

section#user_search{

  #search_area{
    position:relative;
    width:80%;
    float: right;
    margin-left: 0;
    padding-left: 0;
    input{
      margin-bottom: 10px;
      width: 100%;
    }
    #results{
      position: absolute;
      top: 44px;
      left: 1px;
      background-color: #fff;
      border: 1px solid #ccc;
      width: 100%;
      font-family: 'amatic';
      font-size: 2em;

      .player{
        float:left;
        width:100%;
        cursor:pointer;
        &:not(:first-child) {
          border-top:1px solid #ccc;
        }
        &:hover{
          background-color:rgb(255, 215, 236);
        }
        .thumb{
          width:70px;
          height:70px;
          float:left;
          margin-right:20px;
          overflow:hidden;

          img{
            width:70px;
          }
        }
        p{
          float:left;
          padding:20px 0;
        }
      }
    }
  }
}